{% extends 'base.html.twig' %}

{% block title %} Personnes {% endblock %}
{% block content_title %} {{ content_title }} {% endblock %}

{% block bread_crumb %} 
  <li><i class="fa fa-area-chart"></i>&nbsp;<a href="/">Panneau de Contrôle</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li> 
  <li><i class="fa fa-user"></i>&nbsp;<a href="/personnes">Personnes</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li> 
  <li class="active"><i class="fa fa-user"></i>&nbsp;{{ content_title }}</li>
{% endblock %}

{% block body %}

{{ form_start(form) }}
    
    {% if not form.vars.valid %}
        <div class="error-flash">
            {{ form_errors(form) }}
        </div>
    {% endif %}
   
        <div class="group-field">
            <div>
                {{ form_label(form.nom) }}:
                {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'style': 'width: 180px;'}}) }}
            </div>
            <div>
                {{ form_label(form.prenom) }}:
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'style': 'width: 180px;'}}) }}
            </div>
        </div>
        
        {{ form_label(form.sexe) }}:
        {{ form_widget(form.sexe) }}<br>
        
        {{ form_label(form.dateNaissance) }}:
        <div class='input-group date' id='datetimepicker1' style="width: 160px;">
            {{ form_widget(form.dateNaissance, {'attr': {'class': 'form-control', 'data-mask':'0000/00/00', 'placeholder':'0000/00/00'}}) }}
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
        
        {{ form_label(form.courriel) }}:
        {{ form_widget(form.courriel, {'attr': {'class': 'form-control', 'style': 'width: 365px;'}}) }}
        
        <label for="form_courriel">Roles:</label></br>
        <select id="roles-select2" name="roles[]" multiple="multiple" class='form-control' style="width: 360px;">
            {% for role_nom, role_id in roles %}
                <option {{ role_id in selected_roles ? 'selected="selected"' : '' }} value="{{role_id}}">{{ role_nom }}</option>
            {% endfor %}
        </select></br></br>
        
        {{ form_label(form.noTel) }}:
        {{ form_widget(form.noTel, {'attr': {'class': 'form-control json-array tel'}}) }}
        
        {{ form_label(form.auth_embauche) }}:
        {{ form_widget(form.auth_embauche, {'attr': {'class': 'form-control json-array emb'}}) }}
    
        {{ form_label(form.note) }}:
        {{ form_widget(form.note, {'attr': {'class': 'form-control', 'style': 'width: 365px;'}}) }}<br><br>

    <a class="btn btn-primary" href="/personnes">Retour</a>
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
    
{{ form_end(form) }}

{% endblock %}

{% block stylesheets %}
<style>
    input, #datetimepicker1{
        margin-bottom: 10px;
    }
    
    #form_mesures_type{
        position: relative;
        top: 30px;
    }
    
    .iradio_flat-blue, .iradio_flat-red{
        margin-right: 5px;
    }
    
    .iradio_flat-blue:nth-of-type(2){
        margin-left: 16px;
    }

    .group-field>div{
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 10px;
    }

</style>
{% endblock %}

{% block javascripts %}
<script>
$( document ).ready(function() {
    
    $("#form_sexe").children("div").attr('class', 'iradio_flat-blue');
    $("#form_mesures_type").children("div").attr('class', 'iradio_flat-red');
    $("#form_mesures_type").children("div").first().next().next().attr('class', 'iradio_flat-red checked');

    if ($("#form_sexe_0").prop('checked')){
      $("#form_sexe").children("div").first().attr('class', 'iradio_flat-blue checked');
    }else if ($("#form_sexe_1").prop('checked')){
      $("#form_sexe").children("div").first().next().next().attr('class', 'iradio_flat-blue checked');
    }
   
    $('#datetimepicker1').datetimepicker({
        maxDate: moment().subtract(14, "years"),
        minDate: moment().subtract(100, "years"),
        showClose: true,
        useCurrent: false,
        defaultDate: false,
        format: 'YYYY/MM/DD', 
        locale: 'fr',
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: "fa fa-chevron-left",
            next: "fa fa-chevron-right",
            today: 'fa fa-stop',
            clear: 'fa fa-stop',
            close: 'fa fa-close'
        }
    });

    $('#roles-select2').select2();

    $('.tel').init_jsonarray({'mask':'(000) 000-0000', 'placeholder':'(___) ___-____'});
    $('.emb').init_jsonarray({});
});
</script>
{% endblock %}
