{% extends 'base.html.twig' %}

{% block title %} Personnes {% endblock %}
{% block content_title %} Personnes {% endblock %}

{% block bread_crumb %} 
  <li><i class="fa fa-area-chart"></i>&nbsp;<a href="/">Panneau de Contrôle</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li> 
  <li class="active"><i class="fa fa-user"></i>&nbsp;Personnes</li>
{% endblock %}

{% block body %}

    <div id="search" data-page="{{page}}" data-limit="{{limit}}">
    </div>

    <table class="table table-index">
      <thead>
          <tr>
              <th>Nom</th>
              <th>Numéro Téléphone</th>
              <th>Courriel</th>
              <th>
                <a id="nouveau_personne" class="btn btn-success pull-right" href="/personnes/new">
                      <i class="fa fa-user"></i>&nbsp;&nbsp;Nouvelle Personne
                </a>
              </th>
          </tr>
      </thead>
      <tbody id="personnes_body">
      </tbody>
    </table>
{% endblock %}

{% block javascripts %}
<script>
$( document ).ready(function() {
    function create_personne_row(p, x){
        var row = $(document.createElement('tr'));
        var name_td = $(document.createElement('td'));
        var no_tel_td = $(document.createElement('td'));
        var courriel_td = $(document.createElement('td'));
        var btn_td = $(document.createElement('td'));
        
        var values = []
        $.each(JSON.parse(p.no_tel), function(){values.push(this)});

        name_td.append(p.nom_complet);
        no_tel_td.append(values[0]);
        courriel_td.append(p.courriel);
        
        if(values[0] === null || values[0] === undefined) no_tel_td.html('Non défini')
        if(p.courriel === null) courriel_td.html('Non défini')
        
        var id = p.id;
        var edit_btn = "<div class='pull-right off-right'> <a class='btn btn-primary' href='/personnes/"+id+"'> <i class='fa fa-pencil'></i></a></div>";
        var kill_btn = "<div class='pull-right'> <a data-id='"+id+"' class='btn btn-danger btn-hide' href='javascript:;'>  <i class='fa fa-close'></i></a></div>";
        btn_td.html(kill_btn+edit_btn);  
        
        row.hide();
        row.append(name_td);
        row.append(no_tel_td);
        row.append(courriel_td);
        row.append(btn_td);
        $("#personnes_body").append(row);
        row.delay(x).fadeIn();
    }
    
    function fill_table(data){
      var delay = 0;
      var personnes = data["personnes"];
      $("#personnes_body").html("");
      
      for(var i=0; i<personnes.length; ++i){
          create_personne_row(personnes[i], delay);
          delay += 30;
      } 
      
      var delete_action = build_delete_button_action('personnes',
        "Voulez-vous vraiment désactiver cette personne?");
      $(".btn-hide").on('click', delete_action);
    }
     
    function search(){
      var page = $("#search").data("page");
      var limit = $("#search").data("limit");
      
      $.get( "personnes-recherche.json", {"page": page, "limit": limit}, fill_table, "json" )
        .error(function(d){$("#personnes_body").html(d["responseText"])});
    }
    
    init_paginate(search); 
    search();
    
});
</script>
{% endblock %}
