{% extends 'base.html.twig' %}

{% block title %} Équipes {% endblock %}
{% block content_title %} {{ content_title }} {% endblock %}

{% block bread_crumb %} 
  <li><i class="fa fa-area-chart"></i>&nbsp;<a href="/">Panneau de Contrôle</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li> 
  <li><i class="fa fa-futbol-o"></i>&nbsp;<a href="/equipes">Équipes</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li> 
  <li class="active"><i class="fa fa-futbol-o"></i>&nbsp;{{ content_title }}</li>
{% endblock %}

{% block body %}

{{ form_start(form) }}
    
    {% if not form.vars.valid %}
        <div class="error-flash">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    
    {{ form_label(form.nom) }}:
    {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'style': 'width: 265px;'}}) }}

    {{ form_label(form.niveau) }}:
    {{ form_widget(form.niveau, {'attr': {'class': 'form-control', 'style': 'width: 265px;'}}) }}

    {{ form_label(form.sexe) }}:
    {{ form_widget(form.sexe) }}<br>
        
    <a class="btn btn-primary" href="/equipes">Retour</a>
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
    
{{ form_end(form) }}

{% endblock %}

{% block stylesheets %}
<style>
    #form_mesures_type{
        position: relative;
        top: 30px;
    }
    
    .iradio_flat-blue, .iradio_flat-red{
        margin-right: 5px;
    }
    
    .iradio_flat-blue:nth-of-type(2){
        margin-left: 16px;
    }

    .iradio_flat-blue:nth-of-type(3){
        margin-left: 16px;
    }


</style>
{% endblock %}

{% block javascripts %}
<script>
$( document ).ready(function() {
    
    $("#form_sexe").children("div").attr('class', 'iradio_flat-blue');

    if ($("#form_sexe_0").prop('checked')){
      $("#form_sexe").children("div").first().attr('class', 'iradio_flat-blue checked');
    }else if ($("#form_sexe_1").prop('checked')){
      $("#form_sexe").children("div").first().next().next().attr('class', 'iradio_flat-blue checked');
    }
});
</script>
{% endblock %}

