{% extends 'base.html.twig' %}

{% block title %} Activités {% endblock %}
{% block content_title %} {{ content_title }} - Général {% endblock %}

{% block bread_crumb %} 
  <li><i class="fa fa-area-chart"></i>&nbsp;<a href="/">Panneau de Contrôle</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
  <li><i class="fa fa-calendar"></i>&nbsp;<a href="/activites">Activités</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li> 
  <li class="active"><i class="fa fa-calendar"></i>&nbsp;{{ content_title }}</li>
{% endblock %}


{% block body %}
   <div id='tab_holder' data-tab='1'>
      <div id='tab_holder_inner'>
        <button type='button' id="prev_btn" class="btn btn-primary" href="javascript:;" disabled>Précédent</button>
        <input type="radio" name='a' id="check1"> 
        <input type="radio" name='a' id="check2"> 
        <input type="radio" name='a' id="check3">
        <input type="radio" name='a' id="check4">
        <button type='button' id="next_btn" class="btn btn-primary" href="javascript:;">Suivant</button><br><br>
      </div>
   </div><br>

	{{ form_start(form) }}
      {% if not form.vars.valid %}
          <div class="error-flash">
              {{ form_errors(form) }}
          </div>
      {% endif %}

      <input type="hidden" name="calendar" value="{{calendar}}">
      
      <div id='tab1' data-title='Général'>
        {{ form_label(form.type, 'Type d\'activité') }}
        {{ form_errors(form.type) }}
        {{ form_widget(form.type, {'attr': {'class': 'form-control', 'style': 'width: 250px;'}}) }}

        {{ form_label(form.equipe) }}
        {{ form_errors(form.equipe) }}
        {{ form_widget(form.equipe, {'attr': {'class': 'form-control', 'style': 'width: 250px;'}}) }}

        {{ form_label(form.lieu) }}
        {{ form_errors(form.lieu) }}
        {{ form_widget(form.lieu, {'attr': {'class': 'form-control', 'style': 'width: 365px;'}}) }}

        {{ form_label(form.receveur) }}
        {{ form_errors(form.receveur) }}
        {{ form_widget(form.receveur, {'attr': {'class': 'form-control', 'style': 'width: 230px;'}}) }}

        {{ form_label(form.visiteur) }}
        {{ form_errors(form.visiteur) }}
        {{ form_widget(form.visiteur, {'attr': {'class': 'form-control', 'style': 'width: 230px;'}}) }}

        {{ form_label(form.dateHeure) }}
        {{ form_errors(form.dateHeure) }}
        <div class='input-group date' id='datetimepicker1' style="width: 200px;">
            {{ form_widget(form.dateHeure, {'attr': {'class': 'form-control', 'data-mask':'0000/00/00 00:00', 'placeholder':'0000/00/00 00:00'}}) }}
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
        
        {{ form_label(form.statut) }}
        {{ form_errors(form.statut) }}
        {{ form_widget(form.statut, {'attr': {'class': 'form-control statut-editor', 'style': 'width: 300px;'}}) }}
       
      </div>
      
      <div id='tab2' style='display: None;'  data-title='Transport'>
        {{ form_label(form.transport.demandeAchat) }}
        {{ form_errors(form.transport.demandeAchat) }}
        {{ form_widget(form.transport.demandeAchat, {'attr': {'class': 'form-control', 'style': 'width: 150px;'}}) }}
      
        {{ form_label(form.transport.compagnie) }}
        {{ form_errors(form.transport.compagnie) }}
        {{ form_widget(form.transport.compagnie, {'attr': {'class': 'form-control', 'style': 'width: 250px;'}}) }}
        
        {{ form_label(form.transport.contact) }}
        {{ form_errors(form.transport.contact) }}
        {{ form_widget(form.transport.contact, {'attr': {'class': 'form-control json-array contact1', 'style': 'width: 150px;'}}) }}
      
        {{ form_label(form.transport.heureDepart) }}
        {{ form_errors(form.transport.heureDepart) }}
        <div class='input-group date' id='datetimepicker2' style="width: 200px;">
            {{ form_widget(form.transport.heureDepart, {'attr': {'class': 'form-control', 'data-mask':'0000/00/00', 'placeholder':'0000/00/00'}}) }}
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
        
        {{ form_label(form.transport.heureRetour) }}
        {{ form_errors(form.transport.heureRetour) }}
        <div class='input-group date' id='datetimepicker3' style="width: 200px;">
            {{ form_widget(form.transport.heureRetour, {'attr': {'class': 'form-control', 'data-mask':'0000/00/00', 'placeholder':'0000/00/00'}}) }}
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
        
        {{ form_label(form.transport.dateReservation) }}
        {{ form_errors(form.transport.dateReservation) }}
        <div class='input-group date' id='datetimepicker4' style="width: 200px;">
            {{ form_widget(form.transport.dateReservation, {'attr': {'class': 'form-control', 'data-mask':'0000/00/00', 'placeholder':'0000/00/00'}}) }}
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
        
        {{ form_label(form.transport.typeTransport) }}
        {{ form_errors(form.transport.typeTransport) }}
        {{ form_widget(form.transport.typeTransport, {'attr': {'class': 'form-control', 'style': 'width: 150px;'}}) }}
      
        {{ form_label(form.transport.note) }}
        {{ form_errors(form.transport.note) }}
        {{ form_widget(form.transport.note, {'attr': {'class': 'form-control', 'style': 'width: 290px;'}}) }}
      </div>
      
      <div id='tab3' style='display: None;'  data-title='Réservation'>
        {{ form_label(form.reservationHotel.demandeAchat) }}
        {{ form_errors(form.reservationHotel.demandeAchat) }}
        {{ form_widget(form.reservationHotel.demandeAchat, {'attr': {'class': 'form-control', 'style': 'width: 150px;'}}) }}
      
        {{ form_label(form.reservationHotel.hotel) }}
        {{ form_errors(form.reservationHotel.hotel) }}
        {{ form_widget(form.reservationHotel.hotel, {'attr': {'class': 'form-control', 'style': 'width: 300px;'}}) }}
        
        {{ form_label(form.reservationHotel.contact) }}
        {{ form_errors(form.reservationHotel.contact) }}
        {{ form_widget(form.reservationHotel.contact, {'attr': {'class': 'form-control json-array contact2', 'style': 'width: 150px;'}}) }}
        
        {{ form_label(form.reservationHotel.heureDepart) }}
        {{ form_errors(form.reservationHotel.heureDepart) }}
        <div class='input-group date' id='datetimepicker5' style="width: 200px;">
            {{ form_widget(form.reservationHotel.heureDepart, {'attr': {'class': 'form-control', 'data-mask':'0000/00/00', 'placeholder':'0000/00/00'}}) }}
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
        
        {{ form_label(form.reservationHotel.heureRetour) }}
        {{ form_errors(form.reservationHotel.heureRetour) }}
        <div class='input-group date' id='datetimepicker7' style="width: 200px;">
            {{ form_widget(form.reservationHotel.heureRetour, {'attr': {'class': 'form-control', 'data-mask':'0000/00/00', 'placeholder':'0000/00/00'}}) }}
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
        
        {{ form_label(form.reservationHotel.dateReservation) }}
        {{ form_errors(form.reservationHotel.dateReservation) }}
        <div class='input-group date' id='datetimepicker6' style="width: 200px;">
            {{ form_widget(form.reservationHotel.dateReservation, {'attr': {'class': 'form-control', 'data-mask':'0000/00/00', 'placeholder':'0000/00/00'}}) }}
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
        
        {{ form_label(form.reservationHotel.adresse) }}
        {{ form_errors(form.reservationHotel.adresse) }}
        {{ form_widget(form.reservationHotel.adresse, {'attr': {'class': 'form-control', 'style': 'width: 250px;'}}) }}
        
        {{ form_label(form.reservationHotel.nombreChambre) }}
        {{ form_errors(form.reservationHotel.nombreChambre) }}
        {{ form_widget(form.reservationHotel.nombreChambre, {'attr': {'class': 'form-control', 'style': 'width: 90px;', 'min':'1', 'max':'99'}}) }}
        
        {{ form_label(form.reservationHotel.nombreNuit) }}
        {{ form_errors(form.reservationHotel.nombreNuit) }}
        {{ form_widget(form.reservationHotel.nombreNuit, {'attr': {'class': 'form-control', 'style': 'width: 90px;', 'min':'1', 'max':'89'}}) }}
        
        {{ form_label(form.reservationHotel.note) }}
        {{ form_errors(form.reservationHotel.note) }}
        {{ form_widget(form.reservationHotel.note, {'attr': {'class': 'form-control', 'style': 'width: 350px;'}}) }}
      </div>
      
      <div id='tab4' style='display: None;'  data-title='Ressources'>
        <div class="container-fluid">
          {% for roles in roles_group %}
            <div class="row">
              {% for role_id, role_name in roles%}
                <div class="col-lg-4">
                  <div class="panel panel-blue">
                      <div class="panel-heading panel-heading-roles">
                          {{role_name}}
                      </div>
                      <div class="panel-body pan">
                        <select id="select2_{{role_id}}" name="roles_{{role_id}}[]" multiple="multiple" class='form-control' style="width: 100%;">
                        </select></br></br>
                      </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>

    <br>
    
    {% if calendar == true %}
      <a class="btn btn-primary" href="/">Retour</a>
    {% else %}
      <a class="btn btn-primary" href="/activites">Retour</a>
    {% endif %}   
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}


	{{ form_end(form) }}

{% endblock %}

{% block stylesheets %}
<style>
input, #datetimepicker1, #datetimepicker2, #datetimepicker3, #datetimepicker4, #datetimepicker5, #datetimepicker6, #datetimepicker7{
    margin-bottom: 10px;
}

#form_mesures_type{
    position: relative;
    top: 30px;
}

.iradio_flat-blue{
    margin-right: 15px;
}

.iradio_flat-blue:first-of-type{
    margin-left: 15px;
}

.group-field>div{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
}

#tab_holder{
  display: flex;
}

#tab_holder>div{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.panel-heading-roles{
  padding: 3px 10px;
}

.panel-blue{
  border: 0px;
}

.panel-body{
  padding: 5% !important;
  padding-bottom: 2% !important;
}

</style>
{% endblock %}

{% block javascripts %}
<script>
$( document ).ready(function() {
  
    $('#next_btn').on('click', function(){
      $('#tab_holder').data('tab', $('#tab_holder').data('tab') + 1);
      switch_tab();
    });
    
    $('#prev_btn').on('click', function(){
      $('#tab_holder').data('tab', $('#tab_holder').data('tab') - 1);
      switch_tab();
    });
    
    $("#tab_holder_inner input[type='radio']").on('ifChecked', function(){
      var id = $(this).attr('id');
      $('#tab_holder').data('tab', parseInt(id.replace('check', '')));
      switch_tab();
    });
    
    $('#datetimepicker1').datetimepicker({
        showClose: true,
        defaultDate: false,
        useCurrent: false,
        format: 'YYYY/MM/DD HH:mm', 
        locale: 'fr',
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: "fa fa-chevron-left",
            next: "fa fa-chevron-right",
            today: 'fa fa-stop',
            clear: 'fa fa-stop',
            close: 'fa fa-close'
        }
    });
    
    $('#datetimepicker1, #datetimepicker2, #datetimepicker3, #datetimepicker4, #datetimepicker5, #datetimepicker6, #datetimepicker7').datetimepicker({
        showClose: true,
        defaultDate: false,
        useCurrent: false,
        format: 'YYYY/MM/DD', 
        locale: 'fr',
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: "fa fa-chevron-left",
            next: "fa fa-chevron-right",
            today: 'fa fa-stop',
            clear: 'fa fa-stop',
            close: 'fa fa-close'
        }
    });

  {% for roles in roles_group %}
    {% for role_id, role_name in roles %}
      var data_{{role_id}} = [
        {% for p_id, p_nom in personnes_roles[role_id]%}
          { id: {{p_id}}, text: "{{p_nom}}" },
        {% endfor %}
      ];
      $('#select2_{{role_id}}').select2({data: data_{{role_id}} }).val([
        {% for p_id, p_nom in selected_personnes_roles[role_id] %}
          "{{p_id}}",
        {% endfor %}
      ]).trigger("change");
    {% endfor %}
  {% endfor %}

  function switch_tab(){
    var id = $('#tab_holder').data('tab');
    var tab = $('#tab'+id);
    
    $('#tab1, #tab2, #tab3, #tab4, #tab5').hide();
    tab.show();
    $('.page-title').html('{{content_title}}' + ' - ' + tab.data('title'));
    
    $("#tab_holder_inner input[type='radio']").parent().attr('class', 'iradio_flat-blue');
    
    var check = $("#tab_holder_inner input[type='radio'][id='check"+id+"']");
    check.attr('checked', true);
    check.parent().attr('class', 'iradio_flat-blue checked');
    
    if(id == 1){
      $('#prev_btn').prop('disabled', true);
      $('#next_btn').prop('disabled', false);
    }else if(id > 1 && id < 4){
      $('#prev_btn').prop('disabled', false);
      $('#next_btn').prop('disabled', false);
    }else{
      $('#next_btn').prop('disabled', true);
      $('#prev_btn').prop('disabled', false);
    }
  }
  
  $("#tab_holder_inner").children("div").attr('class', 'iradio_flat-blue');
  $("#tab_holder_inner").children("div").first().attr('class', 'iradio_flat-blue checked');
 
  $('#tab_holder').data('tab', 1);
  switch_tab();
  
  $('.contact1').init_jsonarray({'mask':'(000) 000-0000', 'placeholder':'(___) ___-____'});
  $('.contact2').init_jsonarray({'mask':'(000) 000-0000', 'placeholder':'(___) ___-____'});
  
  $('.statut-editor').init_statut_editor();
});
</script>
{% endblock %}


