{% extends 'base.html.twig' %}

{% block title %} Activités {% endblock %}
{% block content_title %} Activités {% endblock %}

{% block bread_crumb %} 
  <li><i class="fa fa-area-chart"></i>&nbsp;<a href="/">Panneau de Contrôle</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
  <li class="active"><i class="fa fa-calendar"></i>&nbsp;Activités</li>
{% endblock %}


{% block body %}

    <button class="btn btn-info search-btn"><i class="fa fa-search"></i>&nbsp;Filtrer</button>

    <div id="search" data-page="{{page}}" data-limit="{{limit}}" class="search-box container-fluid" hidden>

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <label>Équipe</label>
            <select name="equipe" class="form-control data-equipe">
              <option></option>
              {% for nom,id in equipes %}
                <option value="{{id}}">{{nom}}</option>
              {% endfor %}
            </select>
        </div>


        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <label>Type de rencontre</label>
            <select name="match" class="form-control data-rencontre">
              <option></option>
              <option value="Match">Match</option>
              <option value="Tournoi">Tournoi</option>
              <option value="Hors Saison">Hors Saison</option>
            </select>
        </div>
      </div>


      <div class="row">      
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <label>Receveur</label>
            <input type="text" name="receveur" class="form-control data-receveur">
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <label>Visiteur</label>
            <input type="text" name="visiteur" class="form-control data-visiteur">
        </div>
      </div>


      <div class="row">      
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <label>Date minimum</label>
            <div class='input-group date' id='datetimepicker1' style="width: 200px;">
              <input type="text" name="minDate" class="form-control data-minDate" data-mask="0000/00/00 00:00" placeholder="0000/00/00 00:00">
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>   
        </div>


        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <label>Date maximum</label>
            <div class='input-group date' id='datetimepicker2' style="width: 200px;">
              <input type="text" name="maxDate" class="form-control data-maxDate" data-mask="0000/00/00 00:00" placeholder="0000/00/00 00:00">
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>
      </div>
      
       <div class="row">      
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <label>Statut</label>
            <select class="form-control data-statut">
              <option value=""></option>
              <option value="green">Vert</option>
              <option value="yellow">Jaune</option>
              <option value="red">Rouge</option>
            </select>
        </div>
      </div>
      
      <div class="row">
        <button type="button" class="btn btn-primary search-btn-submit">Appliquer filtre</button>
      </div>
    </div>
    
    <table class="table table-index">
      <thead>
          <tr>
              <th>Date</th>
              <th>Équipe</th>
              <th>Receveur</th>
              <th>Visiteur</th>
              <th>Lieu</th>
              <th>Type</th>
              <th>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
                  <a id="nouvelle_activite" class="btn btn-success pull-right" href="/activites/new">
                        <i class="fa fa-calendar"></i>&nbsp;&nbsp;Nouvelle activité
                  </a>
                {% endif %}
              </th>
          </tr>
      </thead>
      <tbody id="activites_body">
      </tbody>
    </table>
{% endblock %}


{% block stylesheets %}
<style>
    input, #datetimepicker1, #datetimepicker2, #datetimepicker3, #datetimepicker4{
        margin-bottom: 10px;
    }
    
    #form_mesures_type{
        position: relative;
        top: 30px;
    }
    
    .iradio_flat-blue{
        margin-right: 15px;
    }
    
    .iradio_flat-blue:first-of-type{
        margin-left: 15px;
    }
    
    .group-field>div{
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    
    #tab_holder{
      display: flex;
    }
    
    #tab_holder>div{
      width: 400px;
      margin-left: auto;
      margin-right: auto;
    }

</style>
{% endblock %}

{% block javascripts %}
<script>
$( document ).ready(function() {

    $('.data-minDate').val( $.datepicker.formatDate('yy/mm/dd 00:00', new Date()));

    function create_activite_row(a, x){
        var id = a.id;
        var row = $(document.createElement('tr'));
        var date_td = $(document.createElement('td'));
        var type_td = $(document.createElement('td'));
        var receveur_td = $(document.createElement('td'));
        var visiteur_td = $(document.createElement('td'));
        var lieu_td = $(document.createElement('td'));
        var equipe_td = $(document.createElement('td'));
        var btn_td = $(document.createElement('td'));
        var report_btn = "<div class='pull-right off-right'> <a class='btn btn-primary' href='/activites/"+id+"/report'> <i class='fa fa-file-pdf-o'></i></a></div>"
        var edit_btn = edit_button('activites', id);
        var kill_btn = kill_button(id);
        
        date_td.append(a.dateHeure);
        type_td.append(a.type);
        receveur_td.append(a.receveur);
        visiteur_td.append(a.visiteur);
        lieu_td.append(a.lieu);
        equipe_td.append(a.equipe);
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
          btn_td.html(kill_btn+edit_btn+report_btn); 
        {% elseif is_granted('ROLE_USER')  %}
          btn_td.html(report_btn); 
        {% endif %}
         
        
        row.hide();
        row.append(date_td);
        row.append(equipe_td);
        row.append(receveur_td);
        row.append(visiteur_td);
        row.append(lieu_td);
        row.append(type_td);
        row.append(btn_td);
        $("#activites_body").append(row);
        row.delay(x).fadeIn();
    }
    
    var fill_table = function(data){
        var delay = 0;
        $("#activites_body").html("");
        var activites = data["activites"];

        for(var i=0; i<activites.length; ++i){
            create_activite_row(activites[i], delay);
            delay += 50;
        }
        $('.error-flash').remove();
        if (activites.length == 0) { flash_err('Aucunes données trouvées') };        

        var delete_action = build_delete_button_action('activites',
          "Voulez-vous vraiment supprimer cette activité?");
          
        $(".btn-hide").on('click', delete_action);
    }
  
    function search(){
        console.log('Search function start');
        var page = $("#search").data("page");
        var limit = $("#search").data("limit");
        var equipe = $('.data-equipe').val();
        var rencontre = $('.data-rencontre').val();
        var minDate = $('.data-minDate').val();
        var maxDate = $('.data-maxDate').val();
        var receveur = $('.data-receveur').val();
        var visiteur = $('.data-visiteur').val();
        var statut = $('.data-statut').val();

        $.get( "/recherche_activites.json", {
            "page": page,
            "limit": limit,
            "equipe": equipe,
            "rencontre": rencontre,
            "minDate":   minDate,
            "maxDate":  maxDate,
            "receveur":  receveur,
            "visiteur":  visiteur,
            "statut":  statut
             }, fill_table, "json" )
        .error(function(d){$("#activites_body").html(d["responseText"])});
    }
    
    init_paginate(search); 
    search();

    $(".search-btn").on('click', function() {
      $(".search-box").toggle();
    });

    $(".search-btn-submit").on('click', function() {
      console.log('button clicked');
      search();
    });

    $('#datetimepicker1, #datetimepicker2, #datetimepicker3, #datetimepicker4').datetimepicker({
    showClose: true,
    defaultDate: false,
    useCurrent: false,
    format: 'YYYY/MM/DD HH:mm', 
    locale: 'fr',
    icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up: "fa fa-chevron-up",
        down: "fa fa-chevron-down",
        previous: "fa fa-chevron-left",
        next: "fa fa-chevron-right",
        today: 'fa fa-stop',
        clear: 'fa fa-stop',
        close: 'fa fa-close'
        }
    });


});
</script>
{% endblock %}
