{% extends 'base_pdf.html.twig' %}

{% block body %}
<div class="container-fluid">
  <div id="report-bounds" class="col-sm-12">
    <div class="text-center text-bold report-title">
      <h1>{{activite.type}}</h1>
      <div class="row">
        <h3 class="col-xs-5">{{activite.receveur}}
          {% if activite.receveur == "Diablos" %}
            <span class="report-small">{{activite.equipe.getNomComplet}}</span>
          {% endif %}
        </h3>
        
        <h1 class="col-xs-2">VS</h1>
        <h3 class="col-xs-5">{{activite.visiteur}}
        {% if activite.visiteur == "Diablos" %}
            <span class="report-small">{{activite.equipe.getNomComplet}}</span>
        {% endif %}
        </h3>
      </div></br>
      <h4><b>Le {{activite.getDateHeureTraduit}} au {{activite.lieu}}</b></h4>
    </div>
    
    {% if activite.transport.demandeAchat %}
      <h2>Transport</h2>
      <hr/>
      <div class="row">
        <div class="col-xs-6">
          <span class="heure">{{ activite.transport.getHeureDepart ? "Heure Départ: " ~ activite.transport.getHeureDepart : ""}} </span>
          <span class="heure">{{ activite.transport.getHeureRetour ? "Heure Retour: " ~ activite.transport.getHeureRetour : ""}} </span>
          <span class="heure">{{ activite.transport.getDateReservation ? "Date réservation: " ~ activite.transport.getDateReservation : ""}} </span>  
        </div>
        <div class="col-xs-6">
          <span class="heure text-right">{{ activite.transport.getTypeTransport ? "" ~ activite.transport.getTypeTransport : ""}} </span>
        </div>
      </div>
      
    {% endif %}
    {% if activite.reservationHotel.demandeAchat %}
      <h2>Hébergement</h2>
      <hr/>
      <div class="row">
        <div class="col-xs-6">
          <span class="heure">{{ activite.reservationHotel.getHeureDepart ? "Heure Départ: " ~ activite.reservationHotel.getHeureDepart : ""}} </span>
          <span class="heure">{{ activite.reservationHotel.getHeureRetour ? "Heure Retour: " ~ activite.reservationHotel.getHeureRetour : ""}} </span>
          <span class="heure">{{ activite.reservationHotel.getDateReservation ? "Date réservation: " ~ activite.reservationHotel.getDateReservation : ""}} </span>  
        </div>
        <div class="col-xs-6">
          <span class="heure text-right">{{activite.reservationHotel.hotel ? "Hotel " ~ activite.reservationHotel.hotel : "" }}</span>
          <span class="heure text-right">{{activite.reservationHotel.adresse ? activite.reservationHotel.adresse  : "" }}</span>
        </div>
      </div>
    {% endif %}
    <h2>Personnes Ressources</h2>
    <hr/>
    {% for roles in roles_group %}
        <div class="row row-ress">
          {% for role_id, role_name in roles%}
            {% if selected_personnes_roles[role_id]|length > 0 %}
              <div class="col-xs-4">
              <h4>{{role_name}}</h4><hr/>
              {% for p_id, p_nom in selected_personnes_roles[role_id]%}
                <h5>• {{p_nom}}</h5>
              {% endfor %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
    {% endfor %}

  </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
$( document ).ready(function() {
  moment.locale('fr');
  $("#report-date").html(moment().format("D MMMM YYYY"))
});
</script>
{% endblock %}


{% block stylesheets %}
<style>    
hr{
  border-color: #999;
}

h2{
  margin-top: 30px;
}

#report-date{
  font-size: 13px;
}

.logo-image-report{
  height: 15mm;
}

#outer-container{
  margin-top: 30px;
}

#report-header{
  width: 100%;
  height: 15mm;
}

#report-bounds{
  padding: 10mm;
  width: 215mm;
  height: 280mm;
  background-color: #FFF;
  color: #555;
}

.report-small{
  display: block;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
}

.text-bold>div>h1, .text-bold>h1, .text-bold>div>h3{
  font-weight: bold;
}

.report-title>div>h3{
  line-height: 36px;
}

.btn-export{
  padding: 10px 40px 10px 40px;
  font-size: 16px;
}

span.heure{
  font-size: 17px;
  display: block;
}

.row-ress h4, .row-ress h5{
  margin-top: 3px;
  margin-bottom: 6px;
  line-height: 10px;
}

.row-ress hr{
  margin-top: 13px;
  margin-bottom: 10px;
}
</style>
{% endblock %}