{% extends 'base.html.twig' %}

{% block title %} Utilisateurs {% endblock %}
{% block content_title %} {{ content_title }} {% endblock %}

{% block bread_crumb %} 
  <li><i class="fa fa-area-chart"></i>&nbsp;<a href="/">Panneau de Contrôle</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li> 
  <li><i class="fa fa-user-plus"></i>&nbsp;<a href="/utilisateurs">Utilisateurs</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li> 
  <li class="active"><i class="fa fa-user-plus"></i>&nbsp;{{ content_title }}</li>
{% endblock %}

{% block body %}

{{ form_start(form) }}
    
    {% if not form.vars.valid %}
        <div class="error-flash">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    
    {{ form_label(form.nom_utilisateur) }}:
    {{ form_widget(form.nom_utilisateur, {'attr': {'class': 'form-control', 'style': 'width: 265px;'}}) }}
        
    {{ form_label(form.mot_de_passe) }}:
    {{ form_widget(form.mot_de_passe, {'attr': {'class': 'form-control', 'style': 'width: 265px;'}}) }}
    
    {{ form_label(form.niveau_acces) }}:
    {{ form_widget(form.niveau_acces, {'attr': {'class': 'form-control', 'style': 'width: 265px; margin-bottom: 20px;'}}) }}
        
    <a class="btn btn-primary" href="/utilisateurs">Retour</a>
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
    
{{ form_end(form) }}

{% endblock %}