{% extends 'base.html.twig' %}

{% block title %} Utilisateurs {% endblock %}
{% block content_title %} Utilisateurs {% endblock %}

{% block bread_crumb %} 
  <li><i class="fa fa-area-chart"></i>&nbsp;<a href="/">Panneau de Contrôle</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li> 
  <li class="active"><i class="fa fa-user-plus"></i>&nbsp;Utilisateurs</li>
{% endblock %}

{% block body %}
  
    <div id="search" data-page="{{page}}" data-limit="{{limit}}">
    </div>

    <table class="table table-index">
      <thead>
          <tr>
              <th>Nom d'utilisateur</th>
              <th>Niveau Accès</th>
              <th>
                <a id="nouvel_utilisateur" class="btn btn-success pull-right" href="/utilisateurs/new">
                      <i class="fa fa-user-plus"></i>&nbsp;&nbsp;Nouvel Utilisateur
                </a>
              </th>
          </tr>
      </thead>
      <tbody id="utilisateurs_body">
      </tbody>
    </table>
{% endblock %}

{% block javascripts %}
<script>
$( document ).ready(function() {
    function create_utilisateur_row(u, x){
        var row = $(document.createElement('tr'));
        var name_td = $(document.createElement('td'));
        var niv_td = $(document.createElement('td'));
        var btn_td = $(document.createElement('td'));

        name_td.append(u.nom_utilisateur);
        niv_td.append(u.access);

        var id = u.id;
        var edit_btn = edit_button('utilisateurs', id);
        var kill_btn = kill_button(id);
        btn_td.html(kill_btn+edit_btn);  
        
        row.hide();
        row.append(name_td);
        row.append(niv_td);
        row.append(btn_td);
        $("#utilisateurs_body").append(row);
        row.delay(x).fadeIn();
    }
    
    function fill_table(data){
        var delay = 0;
        $("#utilisateurs_body").html("");
        var utilisateurs = data["utilisateurs"];
        for(var i=0; i<utilisateurs.length; ++i){
            create_utilisateur_row(utilisateurs[i], delay);
            delay += 30;
        }
        
        var delete_action = build_delete_button_action('utilisateurs',
          "Voulez-vous vraiment désactiver cet utilisateur?");
          
        $(".btn-hide").on('click', delete_action);
    }
    
    function search(){
        var page = $("#search").data("page");
        var limit = $("#search").data("limit");
        
        $.get( "utilisateurs-recherche.json", {"page": page, "limit": limit}, fill_table, "json" )
        .error(function(d){$("#utilisateurs_body").html(d["responseText"])});
    }
    
    init_paginate(search);
    search();
    
});
</script>
{% endblock %}
