{% extends 'base.html.twig' %}

{% block title %} Rôles {% endblock %}
{% block content_title %} Rôles {% endblock %}

{% block bread_crumb %} 
  <li><i class="fa fa-area-chart"></i>&nbsp;<a href="/">Panneau de Contrôle</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li> 
  <li class="active"><i class="fa fa-graduation-cap"></i>&nbsp;Rôles</li>
{% endblock %}

{% block body %}
  
    <div id="search" data-page="{{page}}" data-limit="{{limit}}">
    </div>

    <table class="table table-index">
      <thead>
          <tr>
              <th>Nom</th>
              <th>
                <a id="nouveau_role" class="btn btn-success pull-right" href="/roles/new">
                      <i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;Nouveau Rôle
                </a>
              </th>
          </tr>
      </thead>
      <tbody id="roles_body">
      </tbody>
    </table>
{% endblock %}

{% block javascripts %}
<script>
$( document ).ready(function() {
    function create_role_row(r, x){
        var row = $(document.createElement('tr'));
        var name_td = $(document.createElement('td'));
        var btn_td = $(document.createElement('td'));

        name_td.append(r.nom);

        var id = r.id;
        var edit_btn = edit_button('roles', id);
        var kill_btn = kill_button(id);
        btn_td.html(kill_btn+edit_btn);  
        
        row.hide();
        row.append(name_td);
        row.append(btn_td);
        $("#roles_body").append(row);
        row.delay(x).fadeIn();
    }
    
    function fill_table(data){
        var delay = 0;
        $("#roles_body").html("");
        var roles = data["roles"];
        for(var i=0; i<roles.length; ++i){
            create_role_row(roles[i], delay);
            delay += 30;
        }
        
        var delete_action = build_delete_button_action('roles',
          "Voulez-vous vraiment désactiver ce role?");
          
        $(".btn-hide").on('click', delete_action);
    }
    
    function search(){
        var page = $("#search").data("page");
        var limit = $("#search").data("limit");
        
        $.get( "roles-recherche.json", {"page": page, "limit": limit}, fill_table, "json" )
        .error(function(d){$("#roles_body").html(d["responseText"])});
    }
    
    init_paginate(search);
    search();
    
});
</script>
{% endblock %}
