<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('favicon.ico') }}">
        <title>{% block title %}{% endblock %}</title>
        
        <link rel="icon" href="{{ asset('favicon.ico') }}" />
    
        <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
        <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
        <link type="text/css" rel="stylesheet" href="/styles/jquery-ui-1.10.4.custom.min.css">
        <link type="text/css" rel="stylesheet" href="/styles/font-awesome.min.css">
        <link type="text/css" rel="stylesheet" href="/styles/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="/styles/animate.css">
        <link type="text/css" rel="stylesheet" href="/styles/all.css">
        <link type="text/css" rel="stylesheet" href="/styles/main.css">
        <link type="text/css" rel="stylesheet" href="/styles/style-responsive.css">
        <link type="text/css" rel="stylesheet" href="/styles/pace.css">
        <link type="text/css" rel="stylesheet" href="/styles/jquery.news-ticker.css">
        <link type="text/css" rel="stylesheet" href="/styles/bootstrap-datetimepicker.min.css">
        <link type="text/css" rel="stylesheet" href="/styles/app/calendar.css">
        <link type="text/css" rel="stylesheet" href="/styles/app/main.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      
        <div>
          <!--BEGIN TOPBAR-->
          <div id="header-topbar-option-demo" class="page-header-topbar">
                <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3" class="navbar navbar-default navbar-static-top">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a id="logo" href="/" class="navbar-brand"><span class="fa fa-rocket"></span><img class="logo-image" src="/images/diablos_logo.png"><span style="display: none" class="logo-text-icon">µ</span></a>
                </div>
                <div class="topbar-main"><a id="menu-toggle" href="#" class="hidden-xs"><i class="fa fa-bars"></i></a>
                    <!--<form id="topbar-search" action="" method="" class="hidden-sm hidden-xs">
                        <div class="input-icon right text-white"><a href="#"><i class="fa fa-search"></i></a><input type="text" placeholder="Recherche..." class="form-control text-white"/></div>
                    </form>
                    -->
                    <ul class="nav navbar navbar-top-links navbar-right mbn">
                      <li class="dropdown topbar-user"><a data-hover="dropdown" href="#" class="dropdown-toggle"><i class="fa fa-user"></i>&nbsp;<span class="hidden-xs">{{user ? user.getNomUtilisateur() : 'Anon'}}</span>&nbsp;<span class="caret"></span></a>
                          <ul class="dropdown-menu dropdown-user pull-right">
                              <li><a href="/logout"><i class="fa fa-key"></i>Se déconnecter</a></li>
                          </ul>
                      </li>
                    </ul>
                </div>
            </nav>
            <!--BEGIN MODAL CONFIG PORTLET-->
            <div id="modal-config" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                                &times;</button>
                            <h3 class="modal-title">{% block modal_title %}{% endblock %}</h3>
                        </div>
                        <div class="modal-body">
                            <p>
                                {% block modal_body %}{% endblock %}
                            </p>
                        </div>
                        <div class="modal-footer">
                            {% block modal_footer %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="modal-mini" class="modal modal-center fade">
              <div class="modal-dialog  modal-sm">
                <div class="modal-content">
                  <div class="modal-body">
                      <div class='modal-icon pull-left'>
                        <i class="fa fa-3x fa-exclamation-triangle"></i>
                      </div>
                      <div><span></span></div>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>  
          <!--END MODAL CONFIG PORTLET-->
          </div>
          <!--END TOPBAR-->
        
          <div id="wrapper">
              <!--BEGIN SIDEBAR MENU-->
              <nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
                  data-position="right" class="navbar-default navbar-static-side">
              <div class="sidebar-collapse menu-scroll">
                  <ul id="side-menu" class="nav">
                      <div class="clearfix"></div>
                      {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
                        <li>
                            <a href="/">
                            <i class="fa fa-area-chart fa-fw">
                              <div class="icon-bg bg-pink"></div>
                            </i>
                            <span class="menu-title">Panneau de contrôle</span></a>
                        </li>
                      {% endif %}
                      {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') or is_granted('ROLE_USER') %}
                        <li>
                            <a href="/activites">
                            <i class="fa fa-calendar fa-fw">
                              <div class="icon-bg bg-pink"></div>
                            </i>
                            <span class="menu-title">Activités</span></a>
                        </li>
                      {% endif %}
                      {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
                        <li>
                            <a href="/equipes">
                            <i class="fa fa-futbol-o fa-fw">
                              <div class="icon-bg bg-pink"></div>
                            </i>
                            <span class="menu-title">Équipes</span></a>
                        </li>
                      {% endif %}
                      {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
                        <li>
                            <a href="/roles">
                            <i class="fa fa-graduation-cap fa-fw">
                              <div class="icon-bg bg-pink"></div>
                            </i>
                            <span class="menu-title">Roles</span></a>
                        </li>
                      {% endif %}
                      {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
                        <li>
                            <a href="/personnes">
                            <i class="fa fa-user fa-fw">
                              <div class="icon-bg bg-pink"></div>
                            </i>
                            <span class="menu-title">Personnes</span></a>
                        </li>
                      {% endif %}
                      {% if is_granted('ROLE_ADMIN')%}
                        <li>
                            <a href="/utilisateurs">
                            <i class="fa fa-user-plus fa-fw">
                              <div class="icon-bg bg-pink"></div>
                            </i>
                            <span class="menu-title">Utilisateurs</span></a>
                        </li>
                      {% endif %}
                  </ul>
              </div>
              </nav>
              <!--END SIDEBAR MENU-->
              <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <div class="page-header pull-left">
                        <div class="page-title">{% block content_title %}{% endblock %}</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        {% block bread_crumb %}{% endblock %}
                    </ol>
                    <div class="clearfix">
                    </div>
                </div>
                <!--END TITLE & BREADCRUMB PAGE-->
                <!--BEGIN CONTENT-->
                <div class="page-content">
                    <div id="tab-general">
                        {% if extra_errors is defined %}
                            <div class="error-flash">
                                <ul>
                                  {% for e in extra_errors %}
                                    <li>{{e}}</li>
                                  {% endfor %}
                                </ul>
                            </div>
                          {% endif %}
                          
                          {% if flash is defined %}
                            <div class="flash">
                                {{flash}}
                            </div>
                          {% endif %}
                        {% block body %}{% endblock %}
                        
                        <!-- Pagination -->
                        {% if page is defined and max_page is defined%}
                          <div class='text-center'>
                            <ul class="pagination pagination-lg mtm mbm">
                                <li class="previous {{ page==0 ? 'disabled' : ''}}"><a href="javascript:;">«</a></li>
                                {% for i in range(1, max_page>1 ? max_page : 1 ) %}
                                  <li class="n {{ (page+1)==i ? 'active' : ''}}" data-page="{{i-1}}">
                                    <a href="javascript:;">{{i}}</a>
                                  </li>
                                {% endfor %}
                                <li class="next {{ (page+1)==max_page or max_page == 0 ? 'disabled' : ''}}"><a href="javascript:;">»</a></li>
                            </ul>
                          </div>
                        {% endif %}
                    </div>
                </div>
                <!--BEGIN FOOTER-->
                <div id="footer">
                    <div class="copyright">
                        <a href="">TODO</a>
                    </div>
                </div>
                <!--END FOOTER-->
              </div>
          </div>
        </div>
        <script type="text/javascript" src="/script/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/script/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="/script/jquery-ui.js"></script>
        <script type="text/javascript" src="/script/jquery.mask.js"></script>
        <script type="text/javascript" src="/script/moment.js"></script>
        <script type="text/javascript" src="/script/bootstrap.min.js"></script>
        <script type="text/javascript" src="/script/bootstrap-hover-dropdown.js"></script>
        <script type="text/javascript" src="/script/bootstrap-datetimepicker.js"></script>
       
        <script type="text/javascript" src="/script/html5shiv.js"></script>
        <script type="text/javascript" src="/script/respond.min.js"></script>
        <script type="text/javascript" src="/script/jquery.metisMenu.js"></script>
        <script type="text/javascript" src="/script/jquery.slimscroll.js"></script>
        <script type="text/javascript" src="/script/jquery.cookie.js"></script>
        <script type="text/javascript" src="/script/icheck.min.js"></script>
        <script type="text/javascript" src="/script/custom.min.js"></script>
        <script type="text/javascript" src="/script/jquery.news-ticker.js"></script>
        <script type="text/javascript" src="/script/jquery.menu.js"></script>
        <script type="text/javascript" src="/script/pace.min.js"></script>
        <script type="text/javascript" src="/script/holder.js"></script>
        <script type="text/javascript" src="/script/responsive-tabs.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
        <!--<script type="text/javascript" src="/script/jquery.flot.js"></script>
        <script type="text/javascript" src="/script/jquery.flot.categories.js"></script>
        <script type="text/javascript" src="/script/jquery.flot.pie.js"></script>
        <script type="text/javascript" src="/script/jquery.flot.tooltip.js"></script>
        <script type="text/javascript" src="/script/jquery.flot.resize.js"></script>
        <script type="text/javascript" src="/script/jquery.flot.fillbetween.js"></script>
        <script type="text/javascript" src="/script/jquery.flot.stack.js"></script>
        <script type="text/javascript" src="/script/jquery.flot.spline.js"></script>
        <scripttype="text/javascript"  src="/script/zabuto_calendar.min.js"></script>
        <script src="script/index.js"></script>-->
        <!--CORE JAVASCRIPT-->
        <script type="text/javascript" src="/script/main.js"></script>
        <script type="text/javascript" src="/script/app/calendar.js"></script>
        <script type="text/javascript" src="/script/app/jsonarray.js"></script>
        <script type="text/javascript" src="/script/app/main.js"></script>
        
        
        {% block javascripts %}
        {% endblock %}
        
        
    </body>
</html>
