<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('favicon.ico') }}">
        <title>PDF</title>
        
        <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
        <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
        {% block stylesheets %}{% endblock %}
        
        <link rel="icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      {% block body %}{% endblock %}
      <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script
			  src="https://code.jquery.com/jquery-2.2.1.min.js"
			  integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
			  crossorigin="anonymous"></script>
      {% block javascripts %}{% endblock %}
    </body>
</html>
