{% extends 'base.html.twig' %}

{% block title %} Panneau de contrôle {% endblock %}
{% block content_title %} Panneau de contrôle {% endblock %}

{% block bread_crumb %} 
  <li class="active"><i class="fa fa-area-chart"></i>&nbsp;Panneau de contrôle</li>
{% endblock %}

{% block body %}
    <div id="calendar" >
    </div>
    <div id="calendar_week" style='display: None;'>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
<script>
$( document ).ready(function() {
  
  $("#calendar").data("curdate", moment().format("YYYY/MM/DD"));
  $("#calendar_week").data("curdate", moment().format("YYYY/MM/DD"));
  
  $("#calendar").init_calendar();
  $("#calendar_week").init_calendar_week();
  
  function fetch_data(data){
    var dates = data["activites"];
    $("#calendar").fill_calendar(dates);
    $("#calendar_week").fill_calendar_week(dates);
  }
  
  $.get( "/list_activites_calendar.json", {}, fetch_data, "json" )
    .error(function(d){$("#calendar").children(".calendar-footer").html(d["responseText"])});
  
});
</script>
{% endblock %}