<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('favicon.ico') }}">
        <title>Connection</title>
        
        <style>
        body{
          background-color: #D9D9D9;
        }
        
        .login_form{
          border: 1px solid #000;
          width: 250px;
          margin: 0 auto;
          padding: 40px;
          padding-bottom: 20px;
          background-color: #F8F8F8;
          font-size: 18px;
        }
        
        label{
          margin-bottom: 5px;
          display: block;
        }
        
        input[type="text"]{
          margin-bottom: 15px;
          width: 100%
        }
        
        input[type="password"]{
          margin-bottom: 15px;
          width: 100%
        }
        
        input[type="submit"]{
          width: 150px;
          height: 40px;
          margin-left: 50px;
          margin-right: 50px;
          font-weight: bold;
        }
        
        .logo-image{
          width: 190px;
          margin-left: 30px;
          margin-right: 30px;
          margin-bottom: 30px;
          font-weight: bold;
        }
        
        </style>
        
        <link rel="icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
     
     
      <div class="login_form">
        <form action="{{ path('login_check') }}" method="post">
          <img class="logo-image" src="/images/diablos_logo.png">
          {% if error is defined %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}
          <label>Nom utilisateur:</label>
          <input type="text" name="_username" required="" value="{{ last_username }}"><br>
          <label>Mot de passe:</label>
          <input type="password" name="_password" required=""><br><br>
          <input type="hidden" name="_target_path" value="/" />
          <input type="submit" value="Connection">
      </form>
      </div>
      

    </body>
</html>
