{% extends 'base.html.twig' %}

{% block title %} ACCÈS INTERDIT {% endblock %}
{% block content_title %} ACCÈS INTERDIT {% endblock %}

{% block bread_crumb %} 
  <li class="active"><i class="fa fa-area-chart"></i>&nbsp;Panneau de contrôle</li>
{% endblock %}

{% block body %}
    <div class="text-center error-panel">
      <i class="fa fa-ban fa-garguantuous"></i></br>
      Vous n'avez pas l'authorization d'accèder à cette section de l'application
    </div>
{% endblock %}

{% block stylesheets %}
<style>
  .error-panel{
    color: #000;
    font-size: 32px;
    font-weight: bold;
  }

  .fa-garguantuous{
    font-size: 16em;
    line-height: 1em;
    color: #F44;
  }
</style>
{% endblock %}

