.calendar-footer{
  width: 100%;
}

.calendar-head{
  font-size: 19px;
  font-weight: bold;
  color: #FFF;
  background-color: #4576FF;
  min-width: 300px;
  text-align: center;
  vertical-align: middle;
  padding: 0;
}

.calendar-head-btn{
  display: inline-block;
  min-width: 60px;
  padding: 10px;
} 

.calendar-head-btn:not(.padding):hover{
  background-color: #405FDB;
}

.calendar-head-btn:not(.padding):active{
  background-color: #354DB0;
}

.calendar-head-btn:nth-child(1){
  float: left;
}
.calendar-head-btn:nth-child(2){
  float: left;
}

.calendar-head-btn:last-child{
  float: right;
}

.calendar-title{
  display: inline;
  line-height: 47px;
}

.calendar-body{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.calendar-col-head{
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #EEE;
  background-color: #3151D4;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 14.27%;
  border-left: 1px solid #19308C;
  border-top: 2px solid #19308C;
  border-bottom: 2px solid #19308C;
}

.calendar-date{
  display: inline-block;
  background-color: #EDEDF2;
  width: 14.27%;
  font-size: 12px;
  border-left: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  padding-top: 2px;
  min-height: 30px;
  height: 100px;
  color: #333;
  font-weight: bold;
  white-space: nowrap;
}

.calendar-date-week{
  height: 600px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.calendar-date-current{
  background: repeating-linear-gradient(
    45deg,
    #364145,
    #364145 1px,
    #EDEDF2 1px,
    #EDEDF2 10px
  )
}

.calendar-date-inactive{
  color: #999;
  font-weight: normal;
}

.calendar-date-limit-right{
  border-right: 1px solid #AAA;
}

.calendar-date>div{
  background-color: #EDEDF2;
  display: initial;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

div.calendar-event, div.calendar-event>a{
  font-weight: 600;
  font-size: 12px;
  
  color: #111;
  padding: 0px;
}

div.green-event, div.green-event>a{
  background-color: rgba(50, 200, 50, 1) ;
}

div.yellow-event, div.yellow-event>a{
  background-color: #E6D767;
}

div.red-event, div.ref-event>a{
  background-color: rgba(200, 50, 50, 1) ;
}

div.calendar-event{
  border-top: 1px solid #600;
  display: flex;
}

div.calendar-event>a{
  padding: 2px;
  text-align: center;
  text-decoration: none;
}

.calendar-event:hover, .calendar-event>a:hover{
  background-color: #E66;
}

.calendar-date>div:nth-of-type(2){
  margin-top: 2px;
  border-top: hidden;
}

.calendar-date-week{
  overflow: auto;
}

.calendar-date-week.calendar-event{
  margin-bottom: 10px;
}

.calendar-date-week.calendar-event>a{
  padding-top: 7px;
  padding-bottom: 7px;
}

.calendar-date-week>div:nth-of-type(2){
  margin-top: 0px;
  border-top: 1px solid #600;
}

.calendar-date-week>div:nth-of-type(1){
  border-top: 0px solid #600;
}