.table-index{
  font-size: 15px;
  color: #575757;
}

.table-index>thead>tr {
  background-color: #4576FF;
  color: #FFF;
}

.table-index>thead>tr>th {
  vertical-align: middle;
}

.table-index>tbody>tr>td {
  background-color: #D4DFFF;
  vertical-align: middle;
}

.table-index>tbody{
  background-color: #D4DFFF;
}

.modal-center{
  top: 35%;
}

.modal .modal-header{
  background-color: #42AAFF;
  color: #FFF;
}

.error-flash{
  background-color: #FFBABA;
  color: #450000;
  border: 1px solid #450000;
  padding: 8px;
  margin-bottom: 20px;
}
  
.error-flash>ul{
  margin: 0px 0px 0px 15px;
  padding: 0;
}
  
.flash{
  background-color: #CBFFC2;
  color: #0A3603;
  border: 1px solid #0A3603;
  padding: 8px;
  margin-bottom: 20px;
}
  
.off-right{
  margin-right: 5px;
}
  
.form-control{
    margin-bottom: 10px;
}

.inlined{
  display: inline-block;
}

.fa-3x {
  font-size: 3em !important;
}

.modal-icon{
  height: 40px;
  margin-right: 20px;
  margin-top: 20px;
  display: inline-block;
}

.modal-error{
  border: 3px solid #A62222;
}

.modal-error>.modal-body{
  color: #651111;
  font-weight: 700;
}

.modal-error>.modal-footer{
  color: #651111;
  border-top: 2px solid #450000;
  background-color: #FFF;
}

.modal-warning{
  border: 3px solid #FFD426;
}

.modal-warning>.modal-body{
  color: #614E00;
  font-weight: 700;
}

.modal-warning>.modal-footer{
  color: #614E00;
  border-top: 2px solid #3B2F00;
  background-color: #FFF;
}

.modal-default{
  border: 3px solid #29C9FF;
}

.modal-default>.modal-body{
  color: #004B63;
  font-weight: 700;
}

.modal-default>.modal-footer{
  color: #004B63;
  border-top: 2px solid #002633;
  background-color: #FFF;
}

#modal-mini .modal-footer{
  padding: 10px;
}

#datetimepicker1, #datetimepicker2, #datetimepicker3, #datetimepicker4, #datetimepicker5, #datetimepicker6, #datetimepicker7{
  color: black;
  font-weight: 900;
}

.json-array{
  display: none;
}

.json-array-group{
  margin-bottom: 10px;
}

.json-array-td button{
  margin-left: 15px;
}

.json-array-td input{
  top: 4px;
  position: relative;
}

.json_array_table{
  margin-bottom: 6px;
}